<div class="container container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a
        href="/dashboard"
        class="d-inline-flex link-body-emphasis text-decoration-none fs-4 fw-bold text-primary"
      >
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/wzwygmng.json"
          trigger="hover"
          state="hover-unfold"
          colors="primary:#4030e8,secondary:#1e90ff"
          style="width: 50px; height: 50px"
        >
        </lord-icon>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/logout" class="nav-link px-4">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li class="nav-search ps-2">
        <form
          action="/dashboard/search"
          method="post"
          class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex"
          role="search"
        >
          <input
            type="search"
            class="form-control form-control-primary"
            placeholder="Search..."
            aria-label="Search"
            name="searchTerm"
            required
          />
          <button type="submit" class="nav-link">Search</button>
        </form>
      </li>
      <li><a href="/about" class="nav-link mx-0 px-0">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a href="/logout" class="me-2"
        ><script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/gwvmctbb.json"
          trigger="hover"
          colors="primary:#3080e8,secondary:#2516c7"
          style="width: 50px; height: 50px"
        >
        </lord-icon
      ></a>
    </div>
  </header>
</div>
