<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search task</li>
    </ol>
  </nav>

  <div class="row">
    <% tasks.forEach(task => { %>
    <div class="col-12 col-sm-3 col-md-4 col-lg-3 mb-4">
      <div class="card border-primary" style="min-height: 210px">
        <a
          href="/dashboard/item/<%= task._id  %>"
          class="card-body text-decoration-none"
        >
          <h5 class="card-title"><%= task.title %></h5>
          <p class="card-text text-truncate"><%= task.body %></p>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
</div>
