<div class="container">
  <h1 class="text-center my-5 text-primary">About</h1>
  <p class="text-primarys">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae eaque
    placeat quis nesciunt magnam sint ex odit amet harum tempora. Illum et
    aspernatur aliquam eius. Architecto officia sequi fugit asperiores?
  </p>
</div>
