<style>
  .container {
    position: relative;
  }
  .img {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 620px !important;
    height: 400px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
</style>
<div class="container container-fluid mb-5 py-md-5">
  <main>
    <div class="row py-md-5 justify-content-center">
      <div class="col-md-6 col-lg-6 mb-md-0 mb-5">
        <h1 class="display-4 fw-bold mb-4">
          Remember to write down task when needed!
        </h1>
        <p class="fs-4 text-secondary mb-4">
          Tasks is simple to use and free note! Made width <br />
          Node.js, EJS & MongoDB
        </p>
        <a href="/auth/google" class="btn btn-primary">Try it's Free</a>
      </div>
      <div class="col-md-6 col-lg-6 mb-md-0 mb-5">
        <img class="img" style="width: 100%" src="./images/hero.jpeg" alt="" />
      </div>
    </div>
  </main>
</div>
